// Colours
$background-color: #1d2228;
$lighter-color: #888888;
$light-color: #555555;
$dark-color: #101417;
$orange-color: #fb8122;
$orange-dark-color: #e1741e;
$white-color: #e1e2e2;
$danger-color: #ff0000;
$success-color: #228b22;

// Border
$border-shadow: 0px 0px 20px 5px #101417;
$border-radius-default: 1px;
$border-radius-button: 1px;

// Padding
$padding-default: 5px;
$padding-small: 2.5px;
$padding-medium: 10px;
$padding-large: 20px;

// Margin
$margin-default: 10px;
$margin-small: 5px;
$margin-medium: 20px;
$margin-large: 40px;

// Font
$font-size-default: 14px;
$font-size-small: 11px;
$font-size-medium: 18px;
$font-size-large: 22px;
