@import "../../constants/variables.scss";

.text-container {
  word-break: break-word;
  text-overflow: ellipsis;
  margin-bottom: 10px;

  padding: 7px;
  color: inherit;
  border-radius: 1px solid $background-color;
  background: inherit;
  border-radius: 0px;

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: $lighter-color;
  }
  ::-webkit-scrollbar-thumb {
    background: $light-color;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #4c4c4c;
  }
}

.text-background {
  padding: $padding-medium;
  color: $white-color;
  border-radius: 1px solid $light-color;
  background: $dark-color;
  border-radius: $border-radius-button;
}
